<footer class="footer d-flex flex-column justify-content-center align-items-center custom-bg">
	<i class="fab fa-facebook fb my-2"></i>
	<p>
		<small class="pink">Made by
		</small>
	</p>
	<p>Sébastien Verslype - 2020</p>
</footer>
