<div class=" fixed-top">
	<nav class="navbar navbar-expand-lg navbar-dark custom-bg">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a id="home" class="navbar-brand ml-5" href="{{ path('home') }}">
			<span class="pink">M</span>ariage<span class="pink">.</span>
		</a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mx-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link mr-3" href="{{ path('home') }}">
						<span class="pink">A</span>ccueil
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="{{ path('home') }}#couple">
						<span class="pink">N</span>otre Couple</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="#">
						<span class="pink">N</span>otre Histoire</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="{{ path('where') }}">
						<span class="pink">O</span>ù et Quand?</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="#">
						<span class="pink">G</span>alerie</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="#">
						<span class="pink">P</span>résent !</a>
				</li>
			</ul>
			<ul class="login navbar-nav mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Se connecter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">S'inscrire</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
